:root {
  --branding-color: #986c6a;
  --secondary-color: #1f0318;
  --background-color: #f9f8f8;
  --heading-font-family: "Lora", serif;
  --default-font-family: "Merriweather, serif";
}

body {
  background: linear-gradient(120deg, #fdfbfb 0%, #ebedee 100%);
}
header {
  background-size: cover;
  background-position-y: 20%;
  color: var(--secondary-color);
  padding: 200px 0;
  font-family: var(--heading-font-family);
  margin: auto;
}

header h1 {
  font-family:var(--heading-font-family);
  font-size: 30px;
  font-weight:700px;
  line-height: 1;
  margin: 30px 0;
}

header h2 {
  font-family: var(--default-font-family);
  font-size: 50px;
  font-weight:400;
  line-height: 1.5;
  margin: 0;
}

header h3 {
  font-family:"Merriweather";
  font-size: 24px;
  font-weight:900px;
  line-height: 1.5;
  letter-spacing: 5px;
  margin: 0;
}

.hero {
  height: 50vh;
  background: url('/images/hero-image.jpg') no-repeat center center/cover;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: var(--background-color);
  position: relative;
  z-index: 1;
  font-family: var(--heading-font-family);
}

.hero::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5);
  z-index: -1;
}

.hero-content {
  max-width: 800px;
  padding: 20px;
}

.hero h1 {
  font-size: 65px;
  margin-bottom: 20px;
}

.hero p {
  font-size:35px;
  margin-bottom: 30px;
}

.btn-branding {
  display:block;
  font-family:var(--default-font-family);
  font-size: 16px;
  font-weight:700px;
  line-height: 1.5;
  text-align: center;
  color:var(--background-color);
  text-transform: uppercase;
  text-decoration: none;
  text-align: center;
  background-color: var(--branding-color);
  display:inline-block;
  padding:16px 32px;
  margin:auto;
  border-radius: 8px;
}

.social-contact {
  font-size: 24px;
  padding: 12px;
  color: var(--branding-color);
  text-align: center;
}


.grid {
  display: grid;
  grid-gap: 64px;
}
.img-responsive {
  max-width: 100%;
  display: block;
  border-radius: 120px;
  padding:30px;
}

.grid-2-columns {
  grid-template-columns: 1fr 1fr;
}

.grid-2-columns p {
  font-size: 18px;
}

.grid-2-columns a {
  font-size: 16px;
  font-family:var(--default-font-family);
  font-weight:700px;
  line-height: 1.5;
  text-align: center;
  color:var(--background-color);
  text-transform: uppercase;
  text-decoration: none;
  background-color: var(--branding-color);
  display:inline-block;
  padding:16px 32px;
  margin-top: 32px;
  border-radius: 8px;
}

.content {
  font-size: 20px;
  font-family: var(--default-font-family);
  
}


ul {
  list-style: none;
  line-height: 2;
}
section {
  max-width: 100%;
  margin: 0 auto;
  padding: 100px;
}

footer {
  background-color: var(--branding-color);
  
}

footer a {
  color: var(--background-color);
}



@media (max-width: 960px) {
  header {
    padding:60px 0;
  }
  header h1 {
    font-size: 48px;
  }
  header h2 {
    font-size: 20px;
  }
  header h3 {
    font-size: 12px;
  }
}
