:root {
  --branding-color: #AE603A;
  --secondary-color: #FFD4BB;
  --background-color: #F3F1Ed;
  --heading-font-family: "Lora", serif;
  --default-font-family: "Merriweather, serif";
}

body {
  background: linear-gradient(120deg, #fdfbfb 0%, #ebedee 100%);
}
header {
  background-size: cover;
  background-position-y: 20%;
  color: var(--branding-color);
  padding: 200px 0;
}

header h1 {
  font-family:var(--heading-font-family);
  font-size: 30px;
  font-weight:700px;
  line-height: 1;
  margin: 30px 0;
}

header h2 {
  font-family: var(--default-font-family);
  font-size: 50px;
  font-weight:400;
  line-height: 1.5;
  margin: 0;
}

header h3 {
  font-family:"Merriweather";
  font-size: 24px;
  font-weight:900px;
  line-height: 1.5;
  letter-spacing: 5px;
  margin: 0;
}

header a {
  font-family:var(--default-font-family);
  font-size: 16px;
  font-weight:700px;
  line-height: 1.5;
  text-align: center;
  color:var(--background-color);
  text-transform: uppercase;
  text-decoration: none;
  background-color: var(--branding-color);
  display:inline-block;
  padding:16px 32px;
  margin-top: 32px;
  border-radius: 8px;
}


.social-contact {
  font-size: 18px;
  padding: 12px;
  color: var(--background-color);
}

.grid {
  display: grid;
  grid-gap: 64px;
}
.img-responsive {
  max-width: 100%;
  display: block;
}

.grid-2-columns {
  grid-template-columns: 1fr 1fr;
}

.grid-2-columns p {
  font-size: 18px;
}

.grid-2-columns a {
  font-size: 16px;
  font-family:var(--default-font-family);
  font-weight:700px;
  line-height: 1.5;
  text-align: center;
  color:var(--background-color);
  text-transform: uppercase;
  text-decoration: none;
  background-color: var(--branding-color);
  display:inline-block;
  padding:16px 32px;
  margin-top: 32px;
  border-radius: 8px;
}

ul {
  list-style: none;
}
section {
  max-width: 100%;
  margin: 0 auto;
  padding: 100px;
}

footer {
  background-color: var(--branding-color);
  
}

footer a {
  color: var(--background-color);
}



@media (max-width: 960px) {
  header {
    padding:60px 0;
  }
  header h1 {
    font-size: 48px;
  }
  header h2 {
    font-size: 20px;
  }
  header h3 {
    font-size: 12px;
  }
}
